div.container {
  border-width: 1px 10px 10px 10px;
  border-style: solid;
  border-color: #ed1e24;
  background: #ed1e24;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

header {
  background-color: #ed1e24;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.three-leds {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.led-green {
  width: 24px;
  height: 24px;
  background-color: #abff00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
    #89ff00 0 2px 12px;
}

.led-red {
  width: 24px;
  height: 24px;
  background-color: #f00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
    rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-yellow {
  width: 24px;
  height: 24px;
  background-color: #ff0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
    #ff0 0 2px 12px;
}

.led-blue {
  width: 48px;
  height: 48px;
  background-color: #24e0ff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px,
    #3f8cff 0 2px 14px;
}

/* Pokemon index styles */
.pokemons {
  display: grid;
  grid-gap: 15px;
  padding: 15px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

a.pokemon-card {
  display: block;
  text-decoration: none;
  cursor: pointer;
  background: white;
  color: #000000;
}

.pokemon-card img {
  width: 100%;
  background-color: #eee;
}

.pokemon-data {
  padding: 5px;
}

.pokemon-number {
  margin: 0;
  color: #5c5a61;
  font-weight: bold;
  padding: 0 5px;
}

.pokemon-name {
  margin: 0 0 5px 0;
  padding: 5px;
}

.pokemon-type {
  display: inline-block;
  padding: 5px;
  color: black;
  border-radius: 10%;
  margin-left: 3px;
}

.pokemon-type-poison {
  background-color: purple;
  color: white;
}

.pokemon-type-grass {
  background-color: green;
  color: white;
}

.pokemon-type-fire,
.pokemon-type-dragon {
  background-color: orange;
  color: white;
}

.pokemon-type-water {
  background-color: lightskyblue;
  color: white;
}

.pokemon-type-bug {
  background-color: greenyellow;
}

.pokemon-type-flying {
  background-color: lightgray;
}

.pokemon-type-normal {
  background-color: lightgoldenrodyellow;
}

.pokemon-type-electric {
  background-color: yellow;
}

.pokemon-type-ground {
  background-color: brown;
  color: white;
}

.pokemon-type-fairy {
  background-color: pink;
}

.pokemon-type-fighting {
  background-color: salmon;
}

.pokemon-type-psychic,
.pokemon-type-dark {
  background-color: black;
  color: white;
}

.pokemon-type-rock {
  background-color: gray;
}

.pokemon-type-steel {
  background-color: gainsboro;
}

.pokemon-type-ghost {
  background-color: indigo;
  color: white;
}

.pokemon-type-ice {
  background-color: whitesmoke;
}

.pokemon-detail {
  padding: 20px 30px;
  box-sizing: border-box;
}

/* Pokemon Detail styles */
.pokemon-box {
  background-color: black;
  border-width: 30px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  margin-bottom: 50px;
}

.pokemon-buttons {
  display: flex;
  justify-content: space-around;
}

.pokemon-buttons button {
  background-color: yellow;
  color: black;
  display: inline-block;
  font-family: "Press Start 2P", system-ui;
  font-size: 10px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 3px solid transparent;
}

.cross-center {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: relative;
}

.cross-circle {
  background-color: #292929;
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.cross-top {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-top: -30px;
}

.cross-bottom {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-top: 30px;
}

.cross-left {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-left: -30px;
}

.cross-right {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-left: 30px;
}

.pokemon-info {
  padding: 5px;
  color: white;
}

@media only screen and (min-width: 420px) {
  div.container {
    width: 420px;
    margin: 0 auto;
  }
}
